output/iot/0_*
output/iot/dis*
output/iot/d*
output/iot/l*
output/iot/o*
output/iot/p*
output/iot/s*
output/iot/t*
output/iot/v*
output/logs
output/summariesTf
output/trainTf
.vscode
data/iot/*
PIC
run_batch_sum.py
