data/iot/0_*
data/iot/1*
data/iot/2*
data/iot/5*
data/iot/7*
data/iot/9*
data/iot/q*
data/iot/u*
data/iot/w*
data/iot/y*
data
output/*
output/iot/d*
output/iot/l*
output/iot/o*
output/iot/p*
output/iot/s*
output/iot/t*
output/iot/v*
output/logs
output/summariesTf
output/trainTf
run_batch*
.vscode
test.py
PIC
run_batch_sum.py
.gitignore
*/__pycache__